<%- include('partials/header.ejs'); %>



<!--========== register ==========-->

<div class="Account-section">

  <h5 class="account-aanmaken-h5">Registreer hier</h5>

  <form class="register-form" action="/register" method="POST">

    <input class="register-from-text" type="text" id="name" name="name" placeholder="Naam" required />

    <input class="register-from-text" type="email" id="email" name="email" placeholder="Email" required />

    <input

      class="register-from-text"

      type="password"

      id="password"

      name="password"

      placeholder="Wachtwoord"

      required

    />

    <button class="button-registreer-form" type="submit">Register</button>

  </form>

</div>



<%- include('partials/footer.ejs'); %>