/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* DE QUIZ CSS*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.quiz-container {
    background-color: rgb(218, 180, 124);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    overflow: hidden;
}

.quiz-header {
    padding: 0.9rem
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
    color: #048654;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #048654;
    color: white;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    padding: 1.3rem;
}

button:hover {
    background-color: #025133;
}

button:focus {
    outline: none;
    background-color: #15de0e;
}

.quiz-score{
    text-align: center;
}
.buttons-score{
    display: flex;
    margin-left: 10rem;
    margin-top: 30px;
}
.quit-button{
    padding: 10px;
    margin-left: 40px;
    border-radius: 15px;
}
.retry-button{
    margin-left: 30px;
    padding: 10px;
    border-radius: 15px;
}