<%- include('partials/header.ejs'); %>


    <!--========== CONTACT ==========-->
    <div class="Account-section">
      <h5 class="Account-h5">Maak een account aan</h5>
      <form class="Account-form" action="index.html" method="post">
        <input type="text" class="account-from-text" placeholder="Naam" />
        <input type="email" class="account-from-text" placeholder="E-mail" />
        <input type="text" class="account-from-text" placeholder="Wachtwoord" />
        <input
          type="text"
          class="account-from-text"
          placeholder="Wachtwoord opnieuw"
        />

        <a class="button" href="#">Maak account aan</a>
      </form>
    </div>

    <!--========== FOOTER ==========-->
    <%- include('partials/footer.ejs'); %>
