<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="assets/css/styles.css">

    <title>Themadienst Water Flow</title>
</head>

<body>

    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>

    <!--========== HEADER ==========-->
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="./TheOne.html"><img src="/ElderWand-code2021/assets/img/the-lord-of-the-rings-1.svg" alt="" class="nav__piclogo"></a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="TheOne.html" class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a href="personages.html" class="nav__link">Personages</a></li>
                    <li class="nav__item"><a href="#" target="_blank" class="nav__link">FAQ</a></li>
                    <li class="nav__item"><a href="contact.html" class="nav__link">Contact</a></li>
                    <li class="nav__item"><a href="inloggen.html" class="nav__link">Inloggen</a></li>

                    <!--========== VOOR DE THEMA TE VERANDEREN DARK/LIGHT ==========-->
                    <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>


    <!--========== CATALOGUS ==========-->
    <section>
        <div class="menu__container bd-grid">
            <div class="menu__content">
                <img src="assets/img/the-lord-of-the-rings-1.svg" alt="" class="menu__img">
                <h3 class="menu__name">Lord of The Rings</h3>
                <span class="menu__detail">Dit is een online spel waarbij je random quotes uit de Lord of The Rings
                    trilogy krijgt. <br><br> Het is aan jouw om deze quotes bij de juiste personage en/of films te
                    plaatsen.<br><br></span>
                <a href="TheOne.html" class="button menu__button lordbutton" id="lordbutton"><i>STARTEN</i></a>
            </div>

            <div class="menu__content">
                <img src="assets/img/FIFA_logo.svg" alt="" class="menu__img">
                <h3 class="menu__name">FIFA</h3>
                <span class="menu__detail">Het online spel “FIFA” is ontwikkelt om je voetbalkennis te testen of op te
                    frissen. Je zult clubs krijgen, die je dient te plaatsen in de juiste leagues. <br><br>
                    <i>Een voorbeeld hiervan: Club Brugge---Jupiler Pro League</i></span>
                <a href="#" class="button menu__button fifabutton" id="fifabutton"><i>STARTEN</i></a>
            </div>

            <div class="menu__content">
                <img src="assets/img/fortnite-1.svg" alt="" class="menu__img">
                <h3 class="menu__name">Fortnite</h3>
                <span class="menu__detail">Je krijgt een lijst met verschillende Fortnite personages met bijkomende
                    populaire items.<br> <br>Je kunt twee items kiezen die dan worden opgeslagen in een banner op de
                    pagina.<br> <br>Ook kan je ze als avatar gebruiken en eventueel een persoonlijke motivatie van de
                    keuze aanvullen. </span>
                <a href="#" class="button menu__button fortnitebutton" id="fortnitebutton"><i>STARTEN</i></a>
            </div>

            <div class="menu__content">
                <img src="assets/img/lego-2.svg" alt="" class="menu__img">
                <h3 class="menu__name">Lego Masters</h3>
                <span class="menu__detail">Na het aangeven van de aantal te ordenen minifigs,krijg je een lijst met
                    beschikbare diensten en sets waarin de gekozen minifigs voorkomen. Je zal deze dan kunnen
                    ordenen.</span>
                <a href="#" class="button menu__button legobutton" id="legobutton"><i>STARTEN</i></a>
            </div>

            <div class="menu__content">
                <img src="assets/img/Magic The GatheringBestand.jpg" alt="" class="menu__img">
                <h3 class="menu__name">Magic The GatheringBestand</h3>
                <span class="menu__detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque
                    consectetur tenetur inventore animi corporis quaerat reiciendis, cupiditate molestiae
                    fugit culpa atque vel unde qui voluptate dignissimos adipisci libero vitae magni.</span>
                <a href="#" class="button menu__button legobutton" id="magicbutton"><i>STARTEN</i></a>
            </div>

            <div class="menu__content">
                <img src="assets/img/bank.png" alt="" class="menu__img">
                <h3 class="menu__name">Nationale Bank (NBB)Bestand</h3>
                <span class="menu__detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque
                    consectetur tenetur inventore animi corporis quaerat reiciendis, cupiditate molestiae
                    fugit culpa atque vel unde qui voluptate dignissimos adipisci libero vitae magni.</span>
                <a href="#" class="button menu__button legobutton" id="bankbutton"><i>STARTEN</i></a>
            </div>

        </div>
    </section>
    <!--========== POPUP ==========-->
    </div>
    <div class="popup3">
        <div class="popup-content">
            <input type="text" placeholder="U bent niet ingeschreven voor dit thema, kies het juiste thema." disabled>
            <a href="catalogus.html" class="button">Terug naar catalogus</a>
        </div>
    </div>
    <script src="assets/js/catalogPopup.js"></script>
<!--========== FOOTER ==========-->
<footer class="footer section bd-container">
    <div class="footer__container bd-grid">
        <div class="footer__content">
            <a href="#Home" class="footer__logo">TheElderWand</a>
            <span class="footer__description">Media pages</span>
            <div>
                <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Informatie</h3>
            <ul>
                <li><a href="index.html" target = "_blank" class="footer__link">TheElderWand</a></li>
                <li><a href="#" class="footer__link">Contacteer ons </a></li>
                <li><a href="#" class="footer__link">Privacy policy</a></li>
                <li><a href="#" class="footer__link">Terms of services</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Adress</h3>
            <ul>
                <li>België</li>
                <li>Lange Nieuwstraat 101, 2000 Antwerpen</li>
                <li>+(32)03 336 786</li>
                <li>TheElderWand@Support.be</li>
            </ul>
        </div>
    </div>

    <p class="footer__copy">&#169; 2022 TheElderWand. All right reserved</p>
</footer>

    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--========== MAIN JS ==========-->
    <script src="assets/js/main.js"></script>
</body>

</html>