<%- include('partials/header.ejs'); %>

<!--========== INLOGGEN ==========-->
<div class="Inloggen-section">
  <h5 class="Inloggen-h5">Log in met je e-mail adres</h5>
  <form action="/login" method="post">
    <input type="email" id="email" name="email" placeholder="email" required />
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Wachtwoord"
      required
    />

    <button type="submit">Login</button>
  </form>
</div>

<!--========== FOOTER ==========-->
<%- include('partials/footer.ejs'); %>
