<%- include('partials/header.ejs'); %>



    <!--========== personages ==========-->
    <section>
        <div class="menu__container bd-grid">
            <div class="menu__content">
                <img src="/img/Aragorn.png" alt="" class="menu__img">
                <h3 class="menu__name">Aragorn</h3>
                <span class="menu__detail">Aragorn is a fictional character and a main protagonist in J. R. R. 
                    Tolkien's The Lord of the Rings. Aragorn was a Ranger of the North, first introduced with the 
                    name Strider and later revealed to be the heir of Isildur, King of Arnor and Gondor.<br><br>
                    <a href="https://lotr.fandom.com/wiki/Aragorn_II_Elessar" class="button menu__button lordbutton" id="lordbutton"><i>meer info</i></a>
                </span>
            </div>

            <div class="menu__content">
                <img src="/img/frodo.jpg" alt="" class="menu__img">
                <h3 class="menu__name">Frodo Baggins</h3>
                <span class="menu__detail">Frodo Baggins is a fictional character in J. R. R. Tolkien's
                    writings, and one of the protagonists in The Lord of the Rings.</i>
                    <a href="https://lotr.fandom.com/wiki/Frodo_Baggins" class="button menu__button lordbutton" id="lordbutton"><i>meer info</i></a>
                </span>
            </div>

            <div class="menu__content">
                <img src="/img/Gandalf.png" alt="" class="menu__img">
                <h3 class="menu__name">Gandalf</h3>
                <span class="menu__detail">Gandalf is a protagonist in J. R. R. Tolkien's novels The Hobbit and
                    The Lord of the Rings. He is a wizard, one of the Istari order, and the leader and mentor of
                    the Fellowship of the Ring. Tolkien took the name "Gandalf" from the Old Norse "Catalogue of
                    Dwarves" in the Völuspá. 
                    <a href="https://lotr.fandom.com/wiki/Gandalf" class="button menu__button lordbutton" id="lordbutton"><i>meer info</i></a>
                </span>
            </div>
            <div class="menu__content">
                <img src="/img/Smeagol.jpg" alt="" class="menu__img">
                <h3 class="menu__name">Smeagol</h3>
                <span class="menu__detail">Smeagol is a fictional monstrous character from J. R. R. Tolkien's Middle-earth
                    legendarium. He was introduced in the 1937 fantasy novel The Hobbit, and became important in 
                    its sequel, The Lord of the Rings. Gollum was a Stoor Hobbit of the River-folk who lived near
                    the Gladden Fields. 
                    <a href="https://lotr.fandom.com/wiki/Gollum" class="button menu__button lordbutton" id="lordbutton"><i>meer info</i></a>
                </span>
            </div>
            <div class="menu__content">
                <img src="/img/Legolas.jpg" alt="" class="menu__img">
                <h3 class="menu__name">Legolas</h3>
                <span class="menu__detail">Legolas is a fictional character in J. R. R. Tolkien's The Lord of the
                    Rings. He is a Sindar Elf of the Woodland Realm and one of the nine members of the Fellowship
                    who set out to destroy the One Ring. He and the Dwarf Gimli are close friends. 
                    <a href="https://lotr.fandom.com/wiki/Legolas" class="button menu__button lordbutton" id="lordbutton"><i>meer info</i></a>
                </span>
            </div>
            <div class="menu__content">
                <img src="/img/Sauron.png" alt="" class="menu__img">
                <h3 class="menu__name">Sauron</h3>
                <span class="menu__detail">Sauron is the title character and the primary antagonist, through
                    the forging of the One Ring, of J. R. R. Tolkien's The Lord of the Rings, where he rules
                    the land of Mordor and has the ambition of ruling the whole of Middle-earth.
                    <a href="https://lotr.fandom.com/wiki/Sauron" class="button menu__button lordbutton" id="lordbutton"><i>meer info</i></a>
                </span>
            </div>
            <div class="menu__content">
                <img src="/img/arwen.jpg" alt="" class="menu__img">
                <h3 class="menu__name">Arwen</h3>
                <span class="menu__detail">Arwen Undómiel is a fictional character in J. R. R. Tolkien's
                    Middle-earth legendarium. She appears in the novel The Lord of the Rings.
                    <a href="https://lotr.fandom.com/wiki/Arwen" class="button menu__button lordbutton" id="lordbutton"><i>meer info</i></a>
                </span>
            </div>

            <div class="menu__content">
                <img src="/img/Galadriel.png" alt="" class="menu__img">
                <h3 class="menu__name">Galadriel</h3>
                <span class="menu__detail">Galadriel is a character created by J. R. R. Tolkien in his 
                    Middle-earth legendarium. She appears in The Lord of the Rings, The Silmarillion,
                    and Unfinished Tales. She was a royal Elf of both the Noldor and the Teleri, being a
                    grandchild of both King Finwë and King Olwë.
                    <a href="https://lotr.fandom.com/wiki/Galadriel" class="button menu__button lordbutton" id="lordbutton"><i>meer info</i></a>
                </span>
            </div>
            <div class="menu__content">
                <img src="/img/Seanbean.png" alt="" class="menu__img">
                <h3 class="menu__name">Boromir</h3>
                <span class="menu__detail">Boromir is a fictional character in J. R. R. Tolkien's legendarium.
                    He appears in the first two volumes of The Lord of the Rings, and is mentioned in the last 
                    volume, The Return of the King. He was the heir of Denethor II and the elder brother of Faramir.
                    <a href="https://lotr.fandom.com/wiki/Boromir" class="button menu__button lordbutton" id="lordbutton"><i>meer info</i></a>
                </span>
            </div>
            <div class="menu__content">
                <img src="/img/Gimli.png" alt="" class="menu__img">
                <h3 class="menu__name">Gimli</h3>
                <span class="menu__detail">Gimli is a fictional character in J. R. R. Tolkien's Middle-earth,
                    appearing in The Lord of the Rings. A dwarf warrior, he is the son of Glóin, a member of
                    Thorin's company in Tolkien's earlier book The Hobbit. Gimli is chosen to represent the race
                    of Dwarves as part of the Fellowship of the Ring.
                    <a href="https://lotr.fandom.com/wiki/Gimli" class="button menu__button lordbutton" id="lordbutton"><i>meer info</i></a>
                </span>
            </div>
            <div class="menu__content">
                <img src="/img/Bilbo.jpg" alt="" class="menu__img">
                <h3 class="menu__name">Bilbo Baggins</h3>
                <span class="menu__detail">Bilbo Baggins is the title character and protagonist of J. R. R. 
                    Tolkien's 1937 novel The Hobbit, a supporting character in The Lord of the Rings, and the
                    fictional narrator of many of Tolkien's Middle-earth writings.
                    <a href="https://lotr.fandom.com/wiki/Bilbo_Baggins" class="button menu__button lordbutton" id="lordbutton"><i>meer info</i></a>
                </span>
            </div>
            <div class="menu__content">
                <img src="/img/Samwise.jpg" alt="" class="menu__img">
                <h3 class="menu__name">Samwise Gamgee</h3>
                <span class="menu__detail">Samwise Gamgee is a fictional character in J. R. R. Tolkien's
                    Middle-earth. A hobbit, Samwise is the chief supporting character of The Lord of the Rings,
                    serving as the sidekick of the protagonist Frodo Baggins.
                    <a href="https://lotr.fandom.com/wiki/Samwise_Gamgee" class="button menu__button lordbutton" id="lordbutton"><i>meer info</i></a>
                </span>
            </div>
            <div class="menu__content">
                <img src="/img/Saruman.jpg" alt="" class="menu__img">
                <h3 class="menu__name">Saruman</h3>
                <span class="menu__detail">Saruman (Quenya), also known as Saruman the White, was first of
                    the order of Istari (Wizards), who came to Middle-earth as emissaries of the Valar in
                    the Third Age. He was the Wizards' leader, and chief of the White Council that opposed Sauron.
                    <a href="https://lotr.fandom.com/wiki/Saruman" class="button menu__button lordbutton" id="lordbutton"><i>meer info</i></a>
                </span>
            </div>
            <div class="menu__content">
                <img src="/img/Pippin.png" alt="" class="menu__img">
                <h3 class="menu__name">Pippin Took</h3>
                <span class="menu__detail">Peregrin Took, commonly known simply as Pippin, is a fictional
                    character from J. R. R. Tolkien's fantasy novel The Lord of the Rings. He is closely tied
                    with his friend and cousin, Merry Brandybuck, and the two are together during most of the story.
                    <a href="https://lotr.fandom.com/wiki/Peregrin_Took" class="button menu__button lordbutton" id="lordbutton"><i>meer info</i></a>
                </span>
            </div>
            <div class="menu__content">
                <img src="/img/Elrond.png" alt="" class="menu__img">
                <h3 class="menu__name">Elrond</h3>
                <span class="menu__detail">Elrond Half-elven is a fictional character in J. R. R. Tolkien's
                    Middle-earth legendarium. Both of his parents, Eärendil and Elwing, were half-elven, having
                    both Men and Elves as ancestors.
                    <a href="https://lotr.fandom.com/wiki/Elrond" class="button menu__button lordbutton" id="lordbutton"><i>meer info</i></a>
                </span>
            </div>

        </div>
    </section>
    <script src="/js/catalogPopup.js"></script>
    <!--========== FOOTER ==========-->
    <%- include('partials/footer.ejs'); %>