<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="/assets/css/style-lego.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        

        <title>Themadienst Water Flow</title>
    </head>
    <body>

        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>

        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="./TheOne.html"><img src="/ElderWand-code2021/assets/img/the-lord-of-the-rings-1.svg" alt="" class="nav__piclogo"></a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="TheOne.ejs" class="nav__link active-link">Home</a></li>
                        <li class="nav__item"><a href="personages.ejs" class="nav__link">Personages</a></li>
                        <li class="nav__item"><a href="faq.ejs" target="_blank" class="nav__link">FAQ</a></li>
                        <li class="nav__item"><a href="contact.ejs" class="nav__link">Contact</a></li>
                        <li class="nav__item"><a href="login.ejs" class="nav__link">Inloggen</a></li>

                        <!--========== VOOR DE THEMA TE VERANDEREN DARK/LIGHT ==========-->
                        <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

   
        <!--========== register ==========-->
        <div class="Account-section">
            <h5 class="Account-h5" >Maak een account aan</h5>
            <form action="/register" method="POST">
                <input type="text" id="name" name="name" placeholder="Naam" required>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <input type="password" id="password" name="password" placeholder="Wachtwoord" required>
                <button type="submit">Register</button>
            </form>
            
        </div>


<!--========== FOOTER ==========-->
<footer class="footer section bd-container">
    <div class="footer__container bd-grid">
        <div class="footer__content">
            <a href="#Home" class="footer__logo">TheElderWand</a>
            <span class="footer__description">Media pages</span>
            <div>
                <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Informatie</h3>
            <ul>
                <li><a href="index.html" target = "_blank" class="footer__link">TheElderWand</a></li>
                <li><a href="#" class="footer__link">Contacteer ons </a></li>
                <li><a href="#" class="footer__link">Privacy policy</a></li>
                <li><a href="#" class="footer__link">Terms of services</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Adress</h3>
            <ul>
                <li>België</li>
                <li>Lange Nieuwstraat 101, 2000 Antwerpen</li>
                <li>+(32)03 336 786</li>
                <li>TheElderWand@Support.be</li>
            </ul>
        </div>
    </div>

    <p class="footer__copy">&#169; 2022 TheElderWand. All right reserved</p>
</footer>

<!--========== SCROLL REVEAL ==========-->
<script src="https://unpkg.com/scrollreveal"></script>

<!--========== MAIN JS ==========-->
<script src="assets/js/main.js"></script>
</body>
</html>



