<%- include('partials/header.ejs'); %>
<link rel="stylesheet" href="/css/quizeCss.css" />


    <!--========== Quiz ==========-->

    <div id="eindscore">
      <div id="eindscore-container">
        <div class="eind-score" id="eindscore-score">
          <h2>score: <%= score %></h2>
        </div>
        <div id="eindscore-buttons">
          <div>
            <a class="button-stoppen" id="submit" href="http://localhost:3000">stoppen</a>
          </div>
          <div class="button-opnieuw" >
            <a id="submit" href="http://localhost:3000/startQuiz"> opnieuw </a>
          </div>
        </div>
      </div>
    </div>

    <!--========== MAIN JS ==========-->
<script src="/js/main.js"></script>
</body>
</html>
