<%- include('partials/header.ejs'); %>



<section class="home" id="home">
    <div class="home__container bd-container bd-grid">
        <div class="home__data">
            <h1 class="home__title">TheOne</h1>
            <h2 class="home__subtitle">Product van TheElderWand</h2>
            <a href="http://localhost:3000/startQuiz" class="button">Doe de quiz!</a>
        </div>

        <img src="/img/ringlogo-removebg-preview.png" alt="" class="home__img">
    </div>
</section>

<!--===== APP =======-->
<section class="app section bd-container" id="webapp">
    <div class="app__container bd-grid">
        <div class="app__data">
            <h2 class="section-title about__initial">Quiz info</i>
            </h2>
            <span class="about__description">Beste speler, na het voltooien van de quiz krijgt u uw score en de juiste en foute antwoorden van de quiz te zien.</span>
            <br><br>
        </div>
        
        <img src="/img/tree-removebg-preview.png" alt="" class="app__img">
    </div>
</section>


<%- include('partials/footer.ejs'); %>



