<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--========== BOX ICONS ==========-->
    <link
      href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="icon" href="/img/Logo.png" />
    <!--========== CSS ==========-->
    <link rel="stylesheet" href="/css/style-lego.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>The Elder Wand</title>
  </head>

  <body>
    <!--========== SCROLL TOP ==========-->
    <a href="http://localhost:3000/" class="scrolltop" id="scroll-top">
      <i class="bx bx-chevron-up scrolltop__icon"></i>
    </a>

    <!--========== HEADER ==========-->
    <header class="l-header" id="header">
      <nav class="nav bd-container">
        <a href="http://localhost:3000/homepage"
          ><img src="/img/logo.png" alt="" class="nav__piclogo"
        /></a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="http://localhost:3000homepage class="nav__link active-link"
                >Home</a
              >
            </li>
            <li class="nav__item">
              <a href="http://localhost:3000/personages" class="nav__link"
                >Personages</a
              >
            </li>
            <li class="nav__item">
              <a href="http://localhost:3000/faq" class="nav__link">FAQ</a>
            </li>
            <li class="nav__item">
              <a href="http://localhost:3000/contact" class="nav__link"
                >Contact</a
              >
            </li>
            <li class="nav__item">
              <a href="http://localhost:3000/inloggen" class="nav__link"
                >Inloggen</a
              >
            </li>

            <!--========== VOOR DE THEMA TE VERANDEREN DARK/LIGHT ==========-->
            <li><i class="bx bx-moon change-theme" id="theme-button"></i></li>
          </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-menu"></i>
        </div>
      </nav>
    </header>
  </body>
</html>
